.error_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  z-index: 5;
}

.error_field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-height: 150px;
  background-color: white;
  margin: 15% auto;
  border: 1px solid rgb(152, 152, 152);
  color: rgba(87, 99, 87, 0.8);
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  z-index: 5;
  animation-name: chngOpacityErr;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.error_field p {
  display: block;
  padding: 0 20px;
}

.blue_line {
  width: 100%;
  height: 30px;
  padding: 6px 0 0 10px;
  background-color: rgba(68, 161, 217, 0.85);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

.blue_line p {
  padding: 0;
  margin: 0;
  color: white;
}

.error_Ok {
  align-self: flex-end;
  width: 60px;
  height: 30px;
  margin: 0 15px 15px 0;
  background-color: rgba(68, 161, 217, 0.85);
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: white;
}

.error_Ok:hover {
  background-color: rgba(67, 159, 215, 0.56);
}

@keyframes chngOpacityErr {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}