.wrapForAnim:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  animation-name: chngOpacity;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.auth-field-wrap {
  width: 400px;
  min-height: 350px;
  margin: 120px auto 35px;
  border: 1px solid rgba(122, 135, 129, 0.47);
  padding: 20px 15px 0 15px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border-radius: 2px;
}

.auth-with-google {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  background-color: white;
  font-size: 18px;
  font-weight: lighter;
  color: rgba(122, 135, 121, 0.8);
  border: 1px solid rgb(152, 152, 152);
  border-radius: 3px;
  box-sizing: border-box;
}

.googleIcon {
  position: absolute;
  display: block;
  background-image: url("./google.png");
  width: 20px;
  height: 20px;
  left: 95px;
  font-family: "Roboto", sans-serif;
  font-size: 0;
}

.auth-with-google:hover {
  background-color: rgba(158, 173, 191, 0.16)
}

.or {
  margin: 0 0 15px;
  padding: 0;
  display: block;
  text-align: center;
  color: rgba(88, 94, 88, 0.84);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.authLabel {
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
}

.authInput {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0 15px 10px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.authInputOne {
  margin: 0 0 15px;
}

.authInputTwo {
  margin: 0 0 30px;
}

.logIn {
  margin-top: auto;
  display: block;
  width: 100%;
  height: 60px;
  background-color: rgba(68, 161, 217, 0.85);
  font-size: 18px;
  font-weight: lighter;
  color: white;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  bottom: 0;
}
.logIn:hover {
   background-color: rgba(52, 132, 175, 0.85);
 }

.footer {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(76, 87, 76, 0.8);
}

.footer a {
  color: rgba(39, 150, 170, 0.7);
}

.wrapWithDataFromServer {
  width: 200px;
  min-height: 140px;
  position: absolute;
  left: 2%;
  top: 150px;
  z-index: -10;
  border: 3px solid rgba(163, 163, 163, 0.16);
  color: rgba(110, 110, 110, 0.34);
}

.wrapWithDataFromServer p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-left: 8px;
}

.wrapWithDataFromServer table {
  margin: 0 auto;
}

.wrapWithDataFromServer table th {
  font-style: italic;
  font-weight: normal;
}

.wrapWithDataFromServer table tr td:first-child {
  text-align: end;
}

.wrapWithDataFromServer table tr td:last-child {
  text-align: center;
}

@media (max-width: 905px) {
  .wrapWithDataFromServer {
    display: none;
  }
}


@keyframes chngOpacity {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
